/* -------------------------  LOGO AND NAV BAR ------------------------------*/
*{ 
  margin: 0;
  padding: 0;
 font-family: sans-serif;
}
 .navbarbg{
   width: 100%;
   height: 100%;
   background: linear-gradient(45deg,#FFE86E,#FF70A4,#6EE5FF);
}
.logo{
     list-style: none;
     padding: 25px;
     text-align: center;
     position: relative;
     display: block;
     width: 50%;
     margin: auto;
}
.line1{
   width: 400px;
   border-top: 1px solid white;
   background-color: #fff;
   border: 0 none;
   color: #fff;
   height: 3px;
   margin: auto
 
}
.navbar ul{
   display: inline-flex;
   margin: 20px;
}
.navbar ul li{
   list-style: none;
   margin: 0 30px;
   margin-left: 0;
   cursor: pointer;
}
.navbar ul li a{
 color: #ffffffcf;
 text-decoration: none;
 text-align: center;
}
.content{
   width: 100%;
   height: 500%;
   background: rgb(216, 219, 227)
}

/* ------------------------- START OF ABOUT ME ------------------------------*/

 .aboutteam {
      font-size: 3em;
      text-align: center;
      color: rgb(0, 0, 0);
      margin: 0 auto;
      position: absolute;
      top: 22.5%;
      left: 50%;
      transform: translate(-50%, -10%);
      text-decoration: underline;
}

.meetowner {
      font-size: 2.2em;
      text-align: center;
      text-decoration: underline;
      color: rgb(0, 0, 0); 
      transform: translate(-3.4%, 185%);
}

.ninadesc {
      font-size: 1.5em;
      text-align: center;
      line-height: 1.6; 
      max-width: 400px;
      margin: 0 auto;
      position: absolute;
      top: 74%;
      left: 50%;
      transform: translate(-65%, -50%);
      font-weight: bolder;
      color: #000000;
}

/* -------------------------- IMAGE OF OWNER --------------------*/

.marker_name {
   font-size: 6em;
   z-index: 2;
   font-family: "Permanent Marker", cursive;
   font-weight: 400;
   font-style: normal;
   transform: translate(1%, 20%);
   rotate: 2deg;
   line-height: 0.7;
   text-align: center;
}


.polaroid {
   width: 555px;
   height: 790px;
   border: 15px solid rgb(198, 202, 198);
   z-index: 0;
   margin-left: 70px;
   background-color: rgb(198, 202, 198);
}


.owner_img {
      display: block;
      position: relative;
      height: 590px;
      z-index: 1;
      transform: translate(1.5%, 5%);
}

/* -------------------- Nina's team --------------- */

.polaroid2 {
   width: 555px;
   height: 790px;
   border: 15px solid rgb(198, 202, 198);
   z-index: 0;
   margin-left: 1100px;
   background-color: rgb(198, 202, 198);
}

.sofia_img {
   display: block;
   position: relative;
   height: 520px;
   z-index: 1;
   transform: translate(4%, 15%);
}

.marker_name2 {
   font-size: 6em;
   z-index: 2;
   font-family: "Permanent Marker", cursive;
   font-weight: 400;
   font-style: normal;
   transform: translate(1%, 70%);
   rotate: -3deg;
   line-height: 0.7;
   text-align: center;
}

.sofiadesc {
   font-size: 1.5em;
   text-align: center;
   line-height: 1.6; 
   max-width: 400px;
   margin: 0 auto;
   position: absolute;
   top: 74%;
   left: 50%;
   transform: translate(-55%, 250%);
   font-weight: bolder;
   color: #000000;
}

.stylist {
   font-size: 2.2em;
   text-align: center;
   text-decoration: underline;
   color: rgb(0, 0, 0); 
   transform: translate(-98%, -500%);
}
