/* top bar  */

*{ 
  margin: 0;
  padding: 0;
 font-family: sans-serif;
}
 .navbarbg{
   width: 100%;
   height: 100%;
   background: linear-gradient(45deg,#FFE86E,#FF70A4,#6EE5FF);
}
.logo{
     list-style: none;
     padding: 25px;
     text-align: center;
     position: relative;
     display: block;
     width: 50%;
     margin: auto;
}
.line1{
   width: 400px;
   border-top: 1px solid white;
   background-color: #fff;
   border: 0 none;
   color: #fff;
   height: 3px;
   margin: auto
 
}
.navbar ul{
   display: inline-flex;
   margin: 20px;
}
.navbar ul li{
   list-style: none;
   margin: 0 30px;
   margin-left: 0;
   cursor: pointer;
}
.navbar ul li a{
 color: #ffffffcf;
 text-decoration: none;
 text-align: center;
}
.content{
   width: 100%;
   height: 500%;
   background: rgb(216, 219, 227)
}





/* intro text top left and right ------------------------------------------------------------ */

 .divintro {
    padding: 1%;
    color: #e95394;
    text-align: left;
    text-indent: 3%;
    font-size: 180%;
  }

  .divintror {
    padding: 0%;
    color: #3157c9;
    text-align: left;
    text-indent: 0%;
    font-size: 180%;
  }


/* emailing boxes and booking  ------------------------------------------------------------ */

label {
  color: #ff7db5;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  
}
.emailf{
  width: 94%; 
  margin: 0 auto;
}

.booking{
  margin: 2rem;
  position: absolute;
  top: 28.5%;
  right: 00%;
}

.inputE {
  width: 40%;
  padding: 12px;
  margin: 4px 0;


}

.inputC{
  width: 40%;
  height: 235px;
  margin: 4px 0;

}

.divE{
  color: rgb(255, 255, 255);
  text-align: left;
  text-indent: 50px;
  width: 0%;
  padding: 12px;
  margin: 4px 0;
  box-sizing: border-box;

}

.mysection {
  background-color: rgba(163, 175, 180, 0.241);
  width: 50%;
  height: 50%;
}

.button {
  background-color: #e95394;
  border: none;
  color: rgb(243, 243, 243);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 25px;
  cursor: pointer;
}

.buttonb {
    background-color: #3157c9;
    border: none;
    color: rgb(243, 243, 243);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    vertical-align: -100px;
    cursor: pointer;
}

textarea {
  resize: none;
}


/* text colours ------------------------------------------------------------ */

.opts{
  color: #7db7ff;


}
.hairops{
  color: #5392e9;
  font-size: 180%;

}


/* background colours ------------------------------------------------------------ */

.accent{
  accent-color: rgb(161, 142, 150);
  background-color: #e7f8ff;

}

html {
  height: 100%;
  background-color: rgb(255, 229, 229);
}
.bg{
  height: 100%;
  background-color: #ffe8f0;
  width: 50%;
}



/* page footer ------------------------------------------------------------ */

.endpage {
  top: 100%;
  transform: translateY(0%); 
  width: 100%;
  background: linear-gradient(45deg,#FFE86E,#FF70A4,#6EE5FF);
}

.addresstxt {
  padding: 10px 10px 10px 10px;
  color: hsla(0, 0%, 100%, 0.812);
  font-family: Arial, Helvetica, sans-serif;
}

.addresstxt2 {
  padding: 1px 10px 1px 10px;
  color: hsla(0, 0%, 100%, 0.812);
  font-family: Arial, Helvetica, sans-serif;
}

.hours {
  transform: translate(1114%, -670%);
  /* padding: 10px 10px 10px 10px; */
  color: hsla(0, 0%, 100%, 0.812);
  font-family: Arial, Helvetica, sans-serif;
  position:absolute;
}

.hours2 {
  transform: translate(860%, -151%);
  color: hsla(0, 0%, 100%, 0.812);
  font-family: Arial, Helvetica, sans-serif;
  position:absolute;
}
