*{ 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
}
/* NAV BAR -------------------------------------------------------- */
  .navbarbg{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#FFE86E,#FF70A4,#6EE5FF);
}

  .logo{
    list-style: none;
    padding: 25px;
    text-align: center;
    position: relative;
    display: block;
    width: 50%;
    margin: auto;
}

  .line1{
    width: 400px;
    border-top: 1px solid white;
    background-color: #fff;
    border: 0 none;
    color: #fff;
    height: 3px;
    margin: auto
   
}

  .navbar ul{
    display: inline-flex;
    margin: 20px;
}

  .navbar ul li{
    list-style: none;
    margin: 0 30px;
    margin-left: 0;
    cursor: pointer;
 }
 
  .navbar ul li a{
   color: hsla(0, 0%, 100%, 0.812);
   text-decoration: none;
   text-align: center;
 }

  /* .contentbg{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgb(255, 235, 235), rgb(255, 197, 197))/* url(https://images.pexels.com/photos/4065241/pexels-photo-4065241.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) */;
 /* background-size: cover; 
  background-position: center; 
 }
  */

/* WELCOME -------------------------------------------------------- */

.welcome{
  transform: translate(-90%, 10%, 30%, 10%);


}
  .test {
    height: 100%;

}

  .border{
    border: 2px solid rgb(255, 154, 154);
    border-radius: 5px;
 }

  .wel{
    text-align: center;
    position: relative;
    display: block;
    margin: auto

  }

  .canvas{
    text-align: center;
    position: relative;
    display: block;
    margin: auto
  }
 /* .offertxt{
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    color: #e95394;
    font-family: Arial, Helvetica, sans-serif;
}

  .offertxt2{
    text-align: center;
    color: hsl(334, 89%, 73%);
    font-family: Arial, Helvetica, sans-serif;
 
}
    */
   

/* 
} */
   

  .background {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }

/* GALLERY --------------------------------------------------------- */

 .collage{
  width: 100%;
  height: 100%;
 }


/* SERVICES -------------------------------------------------------- */
  .borderbg {
    margin: auto;
    background: linear-gradient(45deg,#FFE86E,#FF70A4,#6EE5FF);
    font-weight: bold;
    border-radius: 20px; 
    width: 1000px; 
    height: 500px;
    padding: 2px 10px 2px 10px;
    font-size: 40px;
  }

  .borderbg2 {
    margin: auto;
    background-color: rgb(255, 255, 255); 
    font-weight: bold;
    border-radius: 20px; 
    width: 950px; 
    height: 410px;
    padding: 2px 10px 2px 10px;
    font-size: 30px;
  }

  .offertxt{
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    color: #FF70A4;
    font-family: Arial, Helvetica, sans-serif;
   }

  .offertxt2{
    text-align: left;
    color: #ff9bbf;
    font-family: Arial, Helvetica, sans-serif;
 
}
/* END PAGE -------------------------------------------------------- */

  .endpage {
    position: relative;
    top: 100%;
    transform: translateY(10%); /* kinda expands the page? */
    width: 100%;
    height: 155px;
    background: linear-gradient(45deg,#FFE86E,#FF70A4,#6EE5FF);
}

  .addresstxt {
    padding: 10px 10px 10px 10px;
    color: hsla(0, 0%, 100%, 0.812);
    font-family: Arial, Helvetica, sans-serif;
  }

  .addresstxt2 {
    padding: 1px 10px 1px 10px;
    color: hsla(0, 0%, 100%, 0.812);
    font-family: Arial, Helvetica, sans-serif;
  }

  .hours {
    transform: translate(1114%, -670%);
    /* padding: 10px 10px 10px 10px; */
    color: hsla(0, 0%, 100%, 0.812);
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
  }

  .hours2 {
    transform: translate(860%, -151%);
    color: hsla(0, 0%, 100%, 0.812);
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
  }
